<head>
  <title>Tigger</title>
</head>

<body>
{{> navbar}}
<div class="container-fluid">
  <div class="row">
    {{> uploadForm}}
  </div>
  <div class="row">
    {{> files}}
    {{> tags}}
  </div>
</div>
</body>

<template name="files">
  <div class="col-md-8">
    {{#if Template.subscriptionsReady}}
      {{#each files}}
        <div class="float-left file">
          <a href="{{link}}?download=true" download="{{name}}" target="_parent">
            <button type="button" class="btn btn-info">
              {{name}}
            </button>
          </a>
          {{#each tag in meta.tags}}
            {{tag}} <span class="glyphicon glyphicon-tag"></span>
          {{/each}}
        </div>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>

<template name="tags">
  <div class="col-md-4">
    {{#if Template.subscriptionsReady}}
      {{#each tag in tags}}
        <div class="tag">
          {{tag._id}} : {{tag.count}}
        </div>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>

<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="fileInput" type="file" />
  {{/with}}
</template>
