<template name="navbar">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Tigger</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</template>
